/* ==========================================================================
  # CdrModal
  
  All values should map to variables in
  vars/CdrModal.vars.pcss
  in order to allow for theming

  TOC:

    :Base - CdrModal
========================================================================== */
